<% provide(:title, 'View Recipe') %>
<div class="container">
  <h1 class="float-right"><%= @recipe.title %></h1>
  <h3>Author: <%= @user.name %></h3>
  <%= link_to :recipes do %>
  <button class="btn btn-warning">Back</button>
  <% end %>
  <h3>Instructions:</h3>
  <blockquote><%= @recipe.text %></blockquote>
</div>
<div class="container">
  <h3>Ingredients:</h3>
  <%= render 'layouts/measurement_list' %>
</div>
