<% provide(:title, '') %>
<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-innter">
        <div class="container">
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home" , home_path%></li>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Help", help_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
