<% provide(:title, '') %>
<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <ul>
        <%= link_to "home" do %>
        <span class="home_link">Home</span>
        <% end %>
        <%= link_to "about" do %>
        <span class="about_link">About</span>
        <% end %>
        <%= link_to "help" do %>
        <span class="help_link">Help</span>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
